.projects {
    margin-top: 180px;
    margin-bottom: 150px;
}

.projects h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 500;
}

.projects-grid {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-left: 100px;
}

.project-card {
    width: 350px;
}

.project-image {
    width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
}


.project-image:hover img {
    transform: scale(1.05);
}

.project-card h3 {
    margin-top: 20px;
}

.project-card p {
    font-size: 14px;
}

.project-image {
    width: 290px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;

}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: transform 0.4s ease;
}

.project-image:hover img {
    transform: scale(1.05);
}

.project-card:hover .project-image img {
    transform: scale(1.05);
}

.project-image img.fade {
    opacity: 0;
}

